.sign-in-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 19px 52px;
    width: clamp(80%, 339px, 50%);
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background: #7A8194;
    border: none;
    border-radius: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}



.sign-in-button:hover {
    background: rgba(122, 129, 148, .8);
}

.anonymous {
    margin-top: 20px;
}