.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    gap: 12px;
    overflow-y: scroll;
}

.chat-messages p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

/* scrollbar styles */
.chat-messages::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}

.chat-messages::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

.chat-messages::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #7A8194;
}
.chat-messages::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
}

.chat-messages::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
}




.message-form {
    box-sizing: border-box;
    max-height: 150px;
    padding: 10px;
}

.sent-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-group {
    display: flex;
    align-items: center;
    background: #3D4354;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;

}

.input-group input {
    height: 100%;
    border: none;
    background-color: transparent;
    width: calc(100% - 27px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;

    /* identical to box height */
    color: #FFFFFF;
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 185% */
    color: rgba(255, 255, 255, 0.45);
}