.App {
  background: #1B202D;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px ;
}

header h1  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */


  color: #FFFFFF;
}