.App {
  background: #1B202D;
  height: 100vh;
  max-height: 100vh;
}

.App section {
  max-height: calc(100vh - 133px);
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px ;
  padding-bottom: 10px;
}

header h1  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */


  color: #FFFFFF;
}